.App {
  text-align: center;
}

.modal {
  display: none;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #C0C0C0;
}
.show {
	display: block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
